$font-mulish: 'Mulish', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$gray: #333333;
$black: #000000;
$forest: #5b6460;
$white: #ffffff;
$bg-green: #e9ece0;

$r_desk_hd: 1200px;
$r_desk: 1000px;
$r_tab: 768px;
$r_tab_600: 600px;
$r_tab_430: 430px;
