$font-mulish: 'Mulish', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$gray: #333333;
$black: #000000;
$forest: #5b6460;
$white: #ffffff;
$bg-green: #e9ece0;

body {
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: $gray;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  color: $white;
  font-size: 70px;
  line-height: 72px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}
h3 {
  font-family: $font-mulish;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $white;
  margin-top: 40px;
}
p {
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  margin: 30px auto 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  line-height: 24px;
  &__info {
    display: flex;
    gap: 25px;
    padding-left: 54px;
  }
  &__nav {
    list-style-type: none;
    display: flex;
    gap: 35px;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }
  &__item {
    cursor: pointer;
    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 0%;
      background-color: $forest;
      bottom: 10px;
      transition: width 0.4s ease-in-out;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  &__language {
    background-image: url(/src/images/language.png);
    height: 25px;
    width: 25px;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }
  }
  &__button {
    cursor: pointer;
    border: none;
    background-color: $forest;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 16px 58px;
    transition: 0.3s;
    &:hover {
      background-color: $black;
    }
  }
}
.logo {
  display: block;
  background-image: url(/src/images/logo.svg);
  height: 78px;
  flex-basis: 73px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 46px;
}
.banner {
  &__box {
    background-image: url(/src/images/Intro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 7vw;
    padding-bottom: 27.7vw;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 36px;
    margin-right: 26px;
    & h3 {
      max-width: 330px;
      text-align: center;
      margin-right: 6.5vw;
      margin-top: 0;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    position: relative;
    top: 23.5vw;
  }
}
.button {
  &__prev {
    background-image: url(/src/images/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__next {
    background-image: url(/src/images/next.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.cabins {
  display: flex;
  margin: 13.3vw auto 11.2vw;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5vw;
  &__picture {
    background-image: url(/src/images/cabins.png);
    max-width: 693px;
    width: 100%;
    height: 438px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    margin-left: 5.3vw;
    max-width: 35%;
    & p {
      margin-top: 2.4vw;
    }
    & a {
      font-style: italic;
    }
    &_forest {
      background-color: $bg-green;
      margin-left: 0;
      padding-top: 11vw;
      padding-left: 7.5vw;
      padding-right: 10vw;
    }
  }
  &__link {
    transition: 0.3s;
    color: $forest;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    &:hover {
      color: $gray;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0 auto 8vw;
    &_cover {
      width: 100%;
      height: 387px;
      position: relative;
      overflow: hidden;
      & img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 387px;
      }
    }
  }
}
.forest {
  &__flex {
    display: flex;
    margin: 10vw auto 0vw;
    justify-content: space-between;
  }
  &__picture {
    &_cover {
      width: 47.5%;
      height: 650px;
      position: relative;
      overflow: hidden;

      & img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: 15% 50%;
        width: 100%;
        height: 650px;
      }
    }
    &_gradient {
      width: 100%;
      height: 650px;
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -60%);
      background: #3e443e;
      opacity: 0.4;
    }
  }
  &__box {
    height: 176px;
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36%;
    left: 31%;
  }
  &__circle {
    width: 96px;
    height: 96px;
    box-shadow: 0 0 0 20px rgba($color: $white, $alpha: 0.15),
      0 0 0 40px rgba($color: $white, $alpha: 0.25);
    border-radius: 100%;
    text-transform: uppercase;
    color: $gray;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.facilities {
  background-color: $forest;
  margin: 0 auto;
  & h2 {
    color: $white;
    font-weight: 300;
    text-align: center;
    padding: 86px 0px 92px;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    padding-bottom: 10.5vw;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $white;
    &::before {
      content: '';
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      height: 70px;
      width: 70px;
    }
    &_fridge::before {
      background-image: url(/src/images/fridge\ 1.svg);
    }
    &_kitchen::before {
      background-image: url(/src/images/kitchen\ 1.svg);
    }
    &_coffee::before {
      background-image: url(/src/images/coffee.svg);
    }
    &_tea::before {
      background-image: url(/src/images/tea.svg);
    }
  }
}
.photos {
  display: flex;
  justify-content: space-between;
  position: relative;
  &__cover {
    width: 100%;
    height: 559px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 559px;
    }
  }
  &__circle {
    position: absolute;
    top: 36%;
    left: 44%;
    z-index: 1;
    height: 157px;
    width: 157px;
    background-color: $white;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & a {
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $black;
      }
    }
  }
}
.footer {
  background-color: $forest;
  color: $white;
  &__container {
    max-width: 83vw;
    margin: 0 auto;
    padding: 7.3vw 0;
  }
  &__left {
    display: flex;
    flex-direction: column;
    flex-basis: 39%;
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 43%;
    gap: 47px;
  }
  &__information {
    display: flex;
    justify-content: space-between;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    & a {
      text-decoration: none;
      color: $white;
      font-size: 14px;
      line-height: 24px;
      &::after {
        display: block;
        content: '';
        height: 1px;
        width: 0%;
        background-color: $white;
        bottom: 10px;
        transition: width 0.4s ease-in-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__copy {
    font-size: 14px;
  }
}
.payment {
  &__link {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
    margin: 0;
    &_item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      transition: 0.3s;
      transform: scale(1);
      opacity: 0.4;
      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
    &_mastercard {
      background-image: url(/src/images/mastercard-logo.svg);
      width: 48.7px;
      height: 48.43px;
    }
    &_paypal {
      background-image: url(/src/images/paypal-logo\ 1.svg);
      width: 50.77px;
      height: 50.41px;
    }
    &_visa {
      background-image: url(/src/images/visa-logo.svg);
      width: 48.17px;
      height: 47.83px;
    }
    &_bank {
      background-image: url(/src/images/bank-logo.svg);
      width: 32.23px;
      height: 32px;
    }
  }
}
.card {
  &__input {
    border: none;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    background-color: transparent;
    flex-grow: 1;
    padding-left: 10px;
  }
  &__label {
    flex-shrink: 0;
    display: flex;
    font-style: italic;
    line-height: 30px;
    letter-spacing: -0.5px;
    padding-right: 10px;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
    max-width: 95%;
    margin-bottom: 70px;
    &_bold {
      font-weight: 600;
    }
  }
  &__button {
    background-image: url(/src/images/button.svg);
    width: 33px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    transform: scale(1);
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
hr {
  color: #efefef;
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
}
input {
  all: unset;
}
